body {
  background-color: rgb(234, 234, 234) !important;
}

/*timepicker style*/
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

/* .masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
} */

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(26, 42, 108) 0%,
    rgb(178, 31, 31) 69%,
    rgb(253, 187, 45) 89%
  ) !important;
  height: 100vh;
  z-index: 103;
}

/* .masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
} */

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* .footer.segment {
  padding: 5em 0;
} */

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

/* .ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
} */

.ui.fixed.menu {
  background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.filter.container,
.filter.segment {
  margin-bottom: 1em;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item > img:not(.ui) {
  margin-right: 1em !important;
}

.ui.menu:not(.vertical) .item > .button {
  margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  /* min-height: 236px; */
}

.dropzone--isActive {
  border: dashed 3px green;
}

.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.controlWidth {
  width: 750px;
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .masthead {
    justify-content: center;
  }
}

.subheader {
  font-size: 0.9em;
  font-weight: initial;
  font-style: italic;
  color: red;
}

.ui.teal.label,
.ui.teal.labels .label {
  background-color: #b21f1f !important;
  border-color: #b21f1f !important;
  color: #fff !important;
  opacity: 0.8;
}

i.big.icon,
i.big.icons {
  /* line-height: 1; */
  position: absolute;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  font-size: 1.5em;
}

.pushable:not(body) {
  transform: none;
}

.ui.thin.right.sidebar {
  width: 200px;
}

.ui.inverted.blue.segment {
  background-color: #1a2a6c !important;
  color: #fff !important;
}

.ui.blue.button,
.ui.blue.buttons .button {
  background-color: #1a2a6c;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

a {
  color: #1a2a6c;
  text-decoration: none;
}

.ui.header:last-child {
  margin-bottom: 0;
  margin-top: 0;
}

.ui.blue.label,
.ui.blue.labels .label {
  background-color: #1a2a6c !important;
  border-color: #1a2a6c !important;
  color: #fff !important;
}

.calendar {
  margin-bottom: 80px;
}
